# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a


# Additional generated extensions
**/*.s
**/*.log
**/*.out
**/.depend
**/.vscode
**/.idea
**/__pycache__

# Build folder
/build/
